* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2b3137;
}

a {
    text-decoration: none;
}
nav {
    padding: 16px 32px;

    input {
        padding: 4px;
    }

    button {
        padding: 4px 8px;
    }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: white;
    font-size:1.25rem;
}

ul {
    padding-left: 32px;
}

.signup-form {
    width: 450px;
    height: 100vh;
    margin: 0 auto;
    padding: 16px;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        background-color: white;
        padding: 24px 32px;
        border-radius: 5px;

        button {
            color: white;
            background-color: #28a745;
            border-color: #28a745;
            border-style: solid;
            border-radius: 5px;
        }
    }

    h2 {
        font-size: 32px;
        position: relative;
        text-align: center;
        margin: 16px 0;
        letter-spacing: 1.25px;
    }

    h2::before, h2::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 25%;
        background: #d4d4d4;
        position: absolute;
        top: 50%;
    }

    h2::before {
        left: 0;
    }

    h2::after {
        right: 0;
    }

    p {
        color: #999;
        margin-bottom: 24px;
        text-align: center;
    }
}

#register-form {
    display: flex;
    flex-direction: column;

    input {
        padding: 16px;
        margin: 8px 0;
    }

    button {
        padding: 16px;
        margin: 8px 0;
        font-size: 1.15rem;
    }
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.error-container, .success-container {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
}

.error-container {
    border: 1px solid red;
}

.success-container {
    border: 1px solid green;
}

.register-error {
    color: red;
}

.register-success {
    color: green;
}

.row {
    display: flex;
}

.col-1, .col-2, .col-6, .col-12 {
    flex-direction: column;
}
.col-12 {
    width: 100%;
}