* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#register-container {
    width: 350px;
    margin: 0 auto;
    padding: 16px;
}

#register-form {
    display: flex;
    flex-direction: column;

    input {
        padding: 8px;
        margin: 8px 0;
    }

    button {
        padding: 8px;
        margin: 8px 0;
    }
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.error-container, .success-container {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.error-container {
    border: 1px solid red;
}

.success-container {
    border: 1px solid green;
}

.register-error {
    color: red;
}

.register-success {
    color: green;
}

.row {
    display: flex;
}

.col-6, .col-5 {
    flex-direction: column;
}
.col-12 {
    width: 100%;
}