.dropdown {
position: relative;
display: inline-block;
}

.dropdown form {
    padding: 0;
    margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
padding: 0 16px;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
left: -75px;
top: 70px;
}



.dropdown-content button, .dropdown-content a {
    display: block;
    border: 0;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
}

.dropdown-content hr {
    width: 75%;
    margin: 8px auto;
}

.menu-item {
    display: block;
    border: 0;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
}

.dropdown a:hover, .dropdown button:hover {
    color: red;
    cursor: pointer;
}

.show {display: block;}